header
{
   font-size: 50px;
   background-color: aquamarine;
}
p
{
    color: blue;
    background-color: rgb(236, 236, 11);
}
h5
{
    color: rgb(247, 15, 15);
    background-color: rgb(95, 42, 165);
}
header
{
    color: aqua;
}
